/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img);
  background-color: var(--bg-color);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  grid-template-rows: 1fr min-content 1fr;
  margin-bottom: 60px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  min-height: 668px;
  height: 100vh;
}

@media (width <=768px) {
  .header {
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (width < 768px) {
  .header {
    margin-bottom: 40px;
    padding: 10px 10px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decor-color);
  border-block-start: 1px solid var(--decor-color);
  inset-inline-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decor-color);
  border-block-end: 1px solid var(--decor-color);
  inset-inline-start: clamp(10px, 0.0286rem + 2.5445vw, 20px);
  inset-block-end: clamp(10px, 0.0286rem + 2.5445vw, 20px);
}

.rec {
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  right: 27px;
  color: var(--color-rec);
  visibility: var(--rec-visibility);
}

.rec::after {
  content: "";
  display: inline-block;
  background-color: var(--color-rec);
  margin-inline-start: 10px;
  border-radius: 50%;
  width: 9px;
  height: 9px;
  box-shadow: 0px 0px 4px 2px #FF0070;
}

@media (width <=768px) {
  .rec {
    top: 20px;
    right: 27px;
  }
}

@media (width <768px) {
  .rec {
    top: 15px;
    right: 25px;
  }
}

@media (width <=520px) {
  .rec {
    top: 17px;
    right: 25px;
  }
}

@media (width < 520px) {
  .rec {
    top: 10px;
    right: 20px;
  }
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: center;
}

.header__theme-menu-list {
  padding-left: 20px;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.header__theme-menu-button {
  cursor: pointer;
  font-family: var(--font-family);
  border: 1px solid transparent;
  padding: 2px 12px;
  line-height: 18px;
  color: var(--color-subtitle);
  background-color: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-subtitle);
  pointer-events: none;
}

@media (width <=768px) {
  .header__theme-menu {
    align-self: center;
    justify-self: flex-end;
  }
}

@media (width < 768px) {
  .header__theme-menu {
    padding-bottom: 15px;
    align-self: center;
    justify-self: flex-end;
  }
}

@media (width <=768px) {
  .header__theme-menu-list {

    flex-direction: column;
  }
}

@media (width < 768px) {
  .header__theme-menu-list {
    flex-direction: column;
  }
}

.title__top {
  color: var(--color-title);
  text-shadow: 4px 4px 0 var(--color-text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 130px;
}

@media (width <=768px) {
  .title__top {
    color: var(--color-title);
    text-shadow: 4px 4px 0 var(--color-bg-text);
    line-height: 99px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  }
}

@media (width < 768px) {
  .title__top {
    line-height: 95px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem)
  }
}

.subtitle__top {
  justify-self: end;
  font-family: var(--font-family);
  color: var(--color-subtitle-top, #353430);
  background-color: var(--color-bg-text);
  max-width: 491px;
  align-self: center;
}

@media (width <=768px) {
  .subtitle__top {
    max-width: 364px;
  }
}

section {
  padding: 0 20px;
}

@media (width <768px) {
  section {
    padding: 0 10px;
  }
}

.content {
  margin-bottom: 80px;
}

.content__exmp {
  margin-bottom: 80px;
}

@media (width < 768px) {
  .content__exmp {
    margin-bottom: 50px;
  }
}

@media (width < 768px) {
  .content {
    margin-bottom: 50px;
  }
}

.content__section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (width <=768px) {
  .content__section {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (width <768px) {
  .content__section {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.column__text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.subtitle__content {
  color: var(--color-title-color);
  font-size: 18px;
  font-weight: 700;
  background-color: var(--color-bg-text);
}

.text__section {
  margin-bottom: 10px;
  color: var(--color-text);
}

.text__section:last-child {
  margin-bottom: 0;

}

.title__section {
  font-weight: 700;
  min-width: 314px;
  color: var(--color-subtitle);
}

@media (width <=768px) {
  .title__section {
    margin-bottom: 0;
    min-width: 236px;
  }
}

.column__text__exmp {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  display: grid;
  font-family: var(--font-family);
}

@media (width <=768px) {
  .column__text__exmp {
    flex-direction: column;
    display: flex;
  }
}

.text__section__exmp {
  margin-top: 10px;
  color: var(--color-text);
}

.title__section__exmp {
  font-weight: 700;
  max-width: 315px;
  color: var(--color-subtitle);
  margin-bottom: 20px;
}

@media (width <=768px) {
  .title__section__exmp {
    max-width: 236px;
  }
}

@media (width < 768px) {
  .title__section__exmp {
    max-width: 355px;
  }
}

.subtitle__content__exmp {
  margin-bottom: 10px;
  background-color: var(--color-bg-text);
}

.text_link {
  text-shadow: 2px 2px var(--text-link);
  text-decoration: none;
}

.text_link:hover {
  border-bottom: 1px solid var(--color-subtitle);

}

.text_link:focus {
  outline: 0;
}

.text_link:focus-visible {
  border: 1px solid var(--color-subtitle);
}

.top__title__column {
  font-weight: 700;
  color: var(--color-title-color);
  margin-block-end: 10px;
  background-color: var(--color-bg-text);
}

.subtitle__content-title{
font-weight: 400;
}

.title__image {
  color: var(--color-title-color);
  grid-area: title;
  font-size: 18px;
  background-color: var(--color-bg-text);
}


.images {
  margin-bottom: 60px;
}

@media (width < 768px) {
  .images {
    margin-bottom: 40px;
  }
}

.images__container {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: "title title title""sunset sunset ice-cream""tape books ice-cream""tape street street";
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img__sunset {
  display: block;
  grid-area: sunset;
}

.img__ice-cream {
  display: block;
  grid-area: ice-cream;
}

.img__tape {
  display: block;
  grid-area: tape;
}

.img__books {
  display: block;
  grid-area: books;
}

.img__street {
  display: block;
  grid-area: street;
}

@media (width < 768px) {
  .images__container {
    gap: 10px;
    flex-direction: column;
    display: flex;
  }
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100vh;
  min-height: 668px;
}

.title__footer {
  line-height: 129px;
  color: var(--color-title);
  text-shadow: 2px 2px 0 var(--color-text-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}

@media (width <=768px) {
  .title__footer {
    color: var(--color-title);
    text-shadow: 2px 2px 0 var(--color-bg-text);
    line-height: 99px;
  }
}

@media (width < 768px) {
  .title__footer {
    line-height: 95px;
  }
}