/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-button: #353430;
  --color-subtitle-top: #353430;
  --decor-color: #353430;
  --color-subtitle: #353430;
  --color-bg-text: #ff8dcb;
  --color-title: #ffc2e6;
  --color-text-shadow: #ff0070;
  --color-title-color: #353430;
  --decor-color: #353430;
  --color-text: #353430;
  --color-subtitle-column: #353430;
  --color-rec: #000028;
  --rec-visibility: visible;
  --font-family: 'IBM Plex Mono', sans-serif;
  --text-link: #ff8dcb;
  --bg-color: #fff1f7;
  --bg-img: url(../images/cover-image-light.png);
  --hover-color: #32312D66;
  --focus-visible: #353430;
}